registry=https://bnpm.byted.org
puppeteer_download_host=https://bnpm.bytedance.net/mirrors
sass_binary_site=https://bnpm.bytedance.net/mirrors/node-sass
electron_mirror=https://bnpm.bytedance.net/mirrors/electron/
nodejs_org_mirror=https://bnpm.bytedance.net/mirrors/node
nvm_nodejs_org_mirror=https://bnpm.bytedance.net/mirrors/node
legacy-peer-deps=true
